<div id="container">
  <h2 id="mainTitle">Поръчки по телефона</h2>
  <div id="privacyPolicyContainer">
    <h2 class="descText">
      Готови сме да Ви помогнем с избора или поръчката!
    </h2>

    <h2 class="descText">
      Екипът на grimo.bg се състои от специалисти, имащи дългогодишен стаж
      в бранша. Ние сме винаги в готовност да отговорим на всички ваши
      въпроси или да получите професионална консултация и да ви помогнем с
      избора или поръчката.
    </h2>

    <h2 class="subbTitle">Кога да поръчам по телефона?</h2>
    <h2 class="descTextWithSpans">
      <span class="descTextWithSpansLeftSpan">></span>
      Ако в момента нямате достъп до интернет и искате бързо и без регистрация да
      поръчате от нашите продукти.
    </h2>

    <h2 class="descTextWithSpans">
      <span class="descTextWithSpansLeftSpan">></span>
      Ако разнообразието от парфюми и козметични продукти Ви затруднява и се -
      нуждаете от консултация при избора.
    </h2>

    <h2 class="descTextWithSpans">
      <span class="descTextWithSpansLeftSpan">></span>
      Ако искате да промените поръчката – датата или мястото, имате допълнителна
      поръчка или някой от поръчаните продукти не ви харесва.
    </h2>

    <h2 class="descTextWithSpans">
      <span class="descTextWithSpansLeftSpan">></span>
      Не сте намерили отговор на Вашия въпрос и искате да го зададете.
    </h2>
    <!--Second separation-->
    <h2 class="subbTitle">Имате въпроси? Свържете се с нас.</h2>

    <h2 class="descText">
      Нашият професионален екип е на разположение всеки
      делничен ден от <span class="descTextWithSpansLeftSpan"> 09:00 до 17:00 часа </span> на тел. <a class="styledLinks" href="tel:+359-88-270-9580"> +359 876525362</a>.
      Въпроси и коментари също можете да изпращате по всяко
      време и на <a class="styledLinks" href = "mailto: 777grimo@gmail.com">777grimo@gmail.com</a>
    </h2>


    <h2 id="formTitle">Имате ли въпроси? Пишете ни.</h2>

    <div id="formnmap">
      <div class="formDiv">
        <form [formGroup]="contactForm" #f='ngForm' novalidate>
          <div class="form-group">
            <label for="name">Вашето Име</label>
            <input type="text"
            [class.is-invalid]="contactFormName.invalid && contactFormName.touched"
             class="form-control"
             id="contactFormName"
              formControlName="contactFormName"
               [(ngModel)]="itemName"
                required>

                <div *ngIf="contactForm.controls['contactFormName'].invalid && (contactForm.controls['contactFormName'].dirty || contactForm.controls['contactFormName'].touched)" class="alert alert-danger">
                  <div *ngIf="contactForm.controls['contactFormName'].errors.required" style="color:red; padding-top:0.5%;">
                  *Name is required.
                </div>
              </div>
          </div>



          <div class="form-group">
            <label for="alterEgo">Email</label>
            <input type="text"
            class="form-control"
            id="contactFormEmail"
            formControlName="contactFormEmail"
            [(ngModel)]="itemEmail"

            >
            <div *ngIf="contactForm.controls['contactFormEmail'].invalid && (contactForm.controls['contactFormEmail'].dirty || contactForm.controls['contactFormEmail'].touched)" class="alert alert-danger">
              <div *ngIf="contactForm.controls['contactFormEmail'].errors.required" style="color:red; padding-top:0.5%;">
              *Email is required.
            </div>
            <div *ngIf="contactForm.controls['contactFormEmail'].errors.email" style="color:red; padding-top:0.5%;">
              *Email addres is not correct.
            </div>
          </div>
          </div>
          <div class="form-group">
            <label for="alterEgo">Телефон</label>
            <input type="text"
            class="form-control"
            id="contactFormPhone"
            formControlName="contactFormPhone"
            [(ngModel)]="itemPhone">
            <div *ngIf="contactForm.controls['contactFormPhone'].invalid && (contactForm.controls['contactFormPhone'].dirty || contactForm.controls['contactFormPhone'].touched)" class="alert alert-danger">
              <div *ngIf="contactForm.controls['contactFormPhone'].errors.required" style="color:red; padding-top:0.5%;">
              *Phone is required.
            </div>
            <div *ngIf="contactForm.controls['contactFormPhone'].errors.pattern" style="color:red; padding-top:0.5%;">
              *Phone is not correct.
            </div>
          </div>
          </div>

          <div class="form-group">
            <label for="name">Номер на поръчка</label>
            <input type="text"
             class="form-control"
             id="contactFormOrderNumber"
              formControlName="contactFormOrderNumber"
               [(ngModel)]="itemOrderNumber"
              >

          </div>

          <div class="form-group">
            <label for="alterEgo">Съобщение</label>
            <textarea type="textarea"
            class="form-control"
            id="contactFormMessage"
            formControlName="contactFormMessage"
            [(ngModel)]="itemMessage">
          </textarea>
          </div>
          <div class="buttoncenter">
            <button type="submit" class="banner1button"  (click)=onSubmit() (click)=clearForm() [disabled]="!f.valid" >Изпрати</button>
          </div>
        </form>
      </div>
      </div>
</div>
</div>

