<div id="container">

  <div id="privacyPolicyContainer">
    <h2 id="mainTitle">Защо всички избират grimo.bg ?</h2>
    <h2 class="descText">
      В grimo.bg всеки пазарува спокойно, без притеснения, че
      може да получи продукт, който е застоял, негоден или с
      недоказан произход. В качеството си на оторизиран он-лайн
      магазин в рамките на Европейската Икономическа общност
      (ЕС). Grimo.bg закупува оригинални стоки директно от
      производителите или от други оторизирани търговци.
    </h2>

    <h2 class="descText">
      Оторизираните търговци следват само актуалните асортименти на марките и се
      ангажират пред производителите да не предлагат стари, негодни, отдавна излезли от
      производство продукти. Излезли от производство и годност продукти понякога се
      изкупуват от неоторизирани търговци и се продават на много ниски цени във физически
      магазини или в други сайтове.
    </h2>

    <h2 class="descText">
      При престижната парфюмерия е трудно да се разпознае
      фалшификата по външната опаковка. Тя най-често е
      картонена и може да бъде копирана напълно. Затова и
      ментетата са толкова разпространени. Основната разлика е
      във флакона и най-вече в самия аромат, в неговото качество,
      въздействие, трайност върху кожата.
    </h2>

    <h2 class="descText">
      Екипът на grimo.bg се грижи и гарантира, че до вас НЕ
      достига застояла, негодна или с недоказан произход стока, за
      да осигури както спокойствие, така и сигурност на клиентите
      си.
    </h2>


    <img class="whyUsImage" src="../../assets/whyUsFirstPick.JPG">

    <!--Second separation-->
    <h2 class="subbTitle">Винаги доказано конкурентни цени</h2>

    <h2 class="descText">
     Редовните клиенти знаят, че екипът на grimo.bg винаги
    предлага най-ниските или конкурентни цени на абсолютно
    всички артикули в сайта.
    </h2>

    <h2 class="descText">
      Причината за това е, че специалистите, работещи за grimo.bg,
      денонощно актуализират и подновяват цените на артикулите,
      спрямо пазарната икономиката, така че те да бъдат
      конкурентни или най-изгодните
     </h2>

     <h2 class="descText">
      Това е възможно поради факта, че базата, стояща зад
      grimo.bg е една от най-големите на балканите и това дава
      възможност стоките да бъдат закупувани директно от
      производителите или от големи оторизирани дистрибутори.
     </h2>
    <img class="whyUsImage" src="../../assets/whyUsSecondPick.JPG">

     <!--Third separation-->
    <h2 class="subbTitle">Личен подход към всеки един клиент</h2>

    <h2 class="descText">
      Екипът на grimo.bg подбира всяка информация/продукт,
      който достига до Вас, с цел да бъде актуален и в крак с найновите тенденции от света на парфюмерията и козметиката.
      За нас мнението на клиента е от изключителна важност,
      затовова екип от специалисти с минимум 5 годишен стаж в
      бранша са на ваше разположение за всякакви въпроси.
    </h2>

    <h2 class="descText">
      Не сте сигурни кой продукт да изберете, искате да зададете
      въпрос или се нуждаете от помощ за поръчката си?
      Пишете ни на
      <a class="styledLinks" href = "mailto: 777grimo@gmail.com">777grimo@gmail.com</a> или се обадете на
      <a class="styledLinks" href="tel:088-270-9580"> +359 876525362</a> - ще се радваме да Bи помогнем.
    </h2>

    <h2 class="descText">
      Можете да се свържете с нас:
    </h2>
    <h2 class="descText">
      <span class="descTextWithSpansLeftSpan">> От Понеделник до Петък от 09:00 до 17:00 часа </span>

    </h2>
    <img class="whyUsImage" src="../../assets/whyUsThirdPicture.JPG">

     <!--Fourth separation-->
     <h2 class="subbTitle">30 дни за връщане на продукт</h2>

     <h2 class="descText">
      Сдобили сте се с подарък, който не харесвате? Или не сте
      избрали правилният продукт за Вас? Не се притеснявайтепросто ни върнете неизползваните стоки и ние ще
      възстановим цялата сума, като Ви дадем възможност да
      изберете други продукти от grimo.bg
     </h2>

     <h2 class="descText">
      За повече информация относно връщането на стоки, моля,
      свържете се с нас на <a class="styledLinks" href = "mailto: 777grimo@gmail.com">777grimo@gmail.com</a> или се обадете на
      <a class="styledLinks" href="tel:088-270-9580"> +359 876525362</a>. Можем да ви помогнем и в избора на найдобрия подарък.
     </h2>

     <img class="whyUsImage" src="../../assets/whyUsFourthPicture.JPG">

      <!--Fifth separation-->
      <h2 class="subbTitle">Зарадвайте близките си</h2>

      <h2 class="descText">
        Grimo.bg е сайтът, който предлага най-широк асортимент от
        подаръци, като предлага професионално опаковане на
        всички, избрани от вас продукти. За да направите подаръка
        ви да изглежда луксозен преди разопаковането (първото
        впечатление е най-важно), ще се радваме да опаковаме
        избраните от вас продукти в елегантна подаръчна кутия, в
        цвят по ваш избор. Екипът на grimo.bg с любов и внимание
        изпипва всичко до последния детайл.
      </h2>

      <img class="whyUsImage" src="../../assets/whyUsFifthPicture.JPG">

       <!--Sixth separation-->
       <h2 class="subbTitle">Бъдете винаги информирани</h2>

      <h2 class="descText">
        Ние предоставяме винаги актуалната информация на
        клиентите си. За нашите клиенти е от изключителна важност
        да бъдат информирани и да имат свободата да сравняват
        цени, оферти и продукти. Точно заради това екипът на
        grimo.bg има задачата да предоставя най-новите ни
        продукти, промоции и оферти лично на всеки наш клиент.
      </h2>

      <h2 class="descText">
        <span class="descTextWithSpansLeftSpan">Присъединете се и Вие! </span>

      </h2>

      <h2 class="descText">
        <span class="descTextWithSpansLeftSpan">>  </span>
        Абонирайте се за бюлетина ни (напишете имейла си в полето по-долу на тази
          страница) и никога няма да пропуснете промоция, отстъпка или новини.
      </h2>

      <h2 class="descText">
        <span class="descTextWithSpansLeftSpan">>  </span>
        Харесайте ни в Facebook (и спечелете красиви награди).
      </h2>

      <h2 class="descText">
        <span class="descTextWithSpansLeftSpan">>  </span>
        Последвайте ни и в Instagram, където ще намирате най-полезните съвети за
        грим и парфюмерия.
      </h2>

      <h2 class="descText">
        <span class="descTextWithSpansLeftSpan">>  </span>
        А в профилът ни в Tik Tok може да видите как минава ежедневието на звездите
          и инфлуенсърите у нас и да получите ценни съвете от самите тях.
      </h2>

      <h2 class="descText">
        <span class="descTextWithSpansLeftSpan">>  </span>
        Разглеждайте нашите статии в началната страница на сайта, пълни с полезни
          съвети за красота и стил. Ние редовно обновяваме статиите си, спрямо топ
          тренд тенденциите по света.
      </h2>
      <img class="whyUsImage" src="../../assets/Capture.JPG">

     <!--Seventh separation-->
     <h2 class="subbTitle">Безплатна доставка на стотици продукти</h2>

     <h2 class="descText">
      Редовно избираме продукти, които, независимо от
      цената, ще ви доставим безплатно до адрес по ваш
      избор - просто следете нашите промоции. А ако
      използвате услугите на външни доставчици, grimo.bg е
      ексклузивен партьор със спедиторска фирма ‚‚Спиди‘‘. С
      цел да улесним нашите редовни клиенти и да бъдем
      максимално достъпни цената на доставка е фиксирана и
      е само 4,45лв.
     </h2>

     <img class="whyUsImage" src="../../assets/whyUsSeventhPicture.JPG">

     <h2 id="formTitle">Имате ли въпроси? Пишете ни.</h2>

     <div id="formnmap">
       <div class="formDiv">
         <form [formGroup]="contactForm" #f='ngForm' novalidate>
           <div class="form-group">
             <label for="name">Вашето Име</label>
             <input type="text"
             [class.is-invalid]="contactFormName.invalid && contactFormName.touched"
              class="form-control"
              id="contactFormName"
               formControlName="contactFormName"
                [(ngModel)]="itemName"
                 required>

                 <div *ngIf="contactForm.controls['contactFormName'].invalid && (contactForm.controls['contactFormName'].dirty || contactForm.controls['contactFormName'].touched)" class="alert alert-danger">
                   <div *ngIf="contactForm.controls['contactFormName'].errors.required" style="color:red; padding-top:0.5%;">
                   *Name is required.
                 </div>
               </div>
           </div>



           <div class="form-group">
             <label for="alterEgo">Email</label>
             <input type="text"
             class="form-control"
             id="contactFormEmail"
             formControlName="contactFormEmail"
             [(ngModel)]="itemEmail"

             >
             <div *ngIf="contactForm.controls['contactFormEmail'].invalid && (contactForm.controls['contactFormEmail'].dirty || contactForm.controls['contactFormEmail'].touched)" class="alert alert-danger">
               <div *ngIf="contactForm.controls['contactFormEmail'].errors.required" style="color:red; padding-top:0.5%;">
               *Email is required.
             </div>
             <div *ngIf="contactForm.controls['contactFormEmail'].errors.email" style="color:red; padding-top:0.5%;">
               *Email addres is not correct.
             </div>
           </div>
           </div>
           <div class="form-group">
             <label for="alterEgo">Телефон</label>
             <input type="text"
             class="form-control"
             id="contactFormPhone"
             formControlName="contactFormPhone"
             [(ngModel)]="itemPhone">
             <div *ngIf="contactForm.controls['contactFormPhone'].invalid && (contactForm.controls['contactFormPhone'].dirty || contactForm.controls['contactFormPhone'].touched)" class="alert alert-danger">
               <div *ngIf="contactForm.controls['contactFormPhone'].errors.required" style="color:red; padding-top:0.5%;">
               *Phone is required.
             </div>
             <div *ngIf="contactForm.controls['contactFormPhone'].errors.pattern" style="color:red; padding-top:0.5%;">
               *Phone is not correct.
             </div>
           </div>
           </div>

           <div class="form-group">
             <label for="name">Номер на поръчка</label>
             <input type="text"
              class="form-control"
              id="contactFormOrderNumber"
               formControlName="contactFormOrderNumber"
                [(ngModel)]="itemOrderNumber"
               >

           </div>

           <div class="form-group">
             <label for="alterEgo">Съобщение</label>
             <textarea type="textarea"
             class="form-control"
             id="contactFormMessage"
             formControlName="contactFormMessage"
             [(ngModel)]="itemMessage">
           </textarea>
           </div>
           <div class="buttoncenter">
             <button type="submit" class="banner1button"  (click)=onSubmit() (click)=clearForm() [disabled]="!f.valid" >Изпрати</button>
           </div>
         </form>
       </div>
       </div>

  </div>
</div>
